@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
  }
  .glass-dark {
    @apply bg-black/70 backdrop-blur-lg border border-white/10 shadow-xl;
  }
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
}
